
body {
    background: black;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #66FF00;
    font-size: 100px;
    font-family: 'Allerta Stencil';
    letter-spacing: 7px;
}

@media (max-width: 1400px) {
    .clock {
        font-size: 65px;
    }
}

@media (max-width: 940px) {
    .clock {
        font-size: 36px;
    }
}

@media (max-width: 600px) {
    .clock {
        font-size: 28px;
    }
}

@media (max-width: 560px) {
    .clock {
        font-size: 24px;
    }
}

@media (max-width: 450px) {
    .clock {
        font-size: 20px;
    }
}

@media (max-width: 400px) {
    .clock {
        font-size: 13px;
    }
}
